<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:include="layouts/layout :: page">

	<div th:fragment="content">
		<div class="x_content">
			<form th:action="@{/user/save}" method="POST" class="form-horizontal form-label-left" novalidate>
				<input type="hidden" name="id" th:field="*{user.id}" th:value="${user.id}" />
				<input type="hidden" name="password" th:field="*{user.password}" th:value="${user.password}" />

				<span class="section">Cadastro de Usuário</span>

				<div class="item form-group">
					<label class="control-label col-md-3 col-sm-3 col-xs-12" for="nome">Nome<span class="required">*</span>
					</label>
					<div class="col-md-6 col-sm-6 col-xs-12">
						<input id="nome" class="form-control col-md-7 col-xs-12" th:field="*{user.name}" name="nome" placeholder="Nome" th:required="required" type="text">
					</div>
				</div>

				<div class="item form-group">
					<label class="control-label col-md-3 col-sm-3 col-xs-12" for="nome">Sobrenome<span class="required">*</span>
					</label>
					<div class="col-md-6 col-sm-6 col-xs-12">
						<input id="lastName" class="form-control col-md-7 col-xs-12" th:field="*{user.lastName}" name="nome" placeholder="Sobrenome" th:required="required" type="text">
					</div>
				</div>

				<div class="item form-group">
					<label class="control-label col-md-3 col-sm-3 col-xs-12" for="nome">Email<span class="required">*</span>
					</label>
					<div class="col-md-6 col-sm-6 col-xs-12">
						<input id="email" class="form-control col-md-7 col-xs-12" th:field="*{user.email}" name="email" placeholder="Email" th:required="required" type="text">
					</div>
				</div>

				<div class="ln_solid"></div>
				<div class="form-group">
					<div class="col-md-6 col-md-offset-3">
						<button id="send" name="action" value="save" type="submit" class="btn btn-success">Submit</button>
						<button type="submit" name="action" value="cancel" class="btn btn-primary">Cancel</button>
					</div>
				</div>
			</form>
		</div>
	</div>

</html>