<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:include="layouts/layout :: page">
	<div th:fragment="content">
		<div class="x_panel">

			<div class="x_title">
				<h2>Visualização do user</h2>
				<ul class="nav navbar-right panel_toolbox">
					<li><a th:href="@{/user/edit/{type}(type=${user.id})}" class="glyphicon glyphicon-edit" title="Editar"></a></li>
					<li><a th:href="@{/user/delete/{type}(type=${user.id})}" class="glyphicon glyphicon-trash" title="Remover"> </a></li>
					<li><a th:href="@{/user/list}" class="glyphicon glyphicon-th-list" title="Listar"> </a></li>
				</ul>
				<div class="clearfix"></div>
			</div>

			<div class="x_content">
				<label>Nome: </label>
				<span th:utext="${user.name}"></span>
			</div>

			<div class="x_content">
				<label>Sobrenome: </label>
				<span th:utext="${user.lastName}"></span>
			</div>

			<div class="x_content">
				<label>Email: </label>
				<span th:utext="${user.email}"></span>
			</div>

		</div>
	</div>
</html>