<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:include="layouts/public :: page">

<body>
<div th:fragment="content">

	<div class="container" style="padding-top: 20px;">

		<div class="row">
			<div class="col-lg-8 col-md-8">

				<div class="post">
					<div class="topwrap">
						<div class="userinfo pull-left">
							<div class="avatar"> </div>
						</div>
						<div class="posttext pull-left">
							<h2 th:text="${post.title}"></h2>
							<p th:text="${post.post}"></p>
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="postinfobot">
						<div class="posted pull-left"><i class="fa fa-clock-o"></i>  <span th:text="${'Posted on : ' + #dates.format(post.created, 'dd MMM @ hh:mm a') }"></span></div>
						<div class="clearfix"></div>
					</div>
				</div>

				<th:block th:each="answers : ${post.postThreadList}">
					<div class="post">
						<div class="topwrap">
							<div class="userinfo pull-left">
								<div class="avatar"> </div>
							</div>
							<div class="posttext pull-left">
								<p th:text="${answers.post}"></p>
							</div>
							<div class="clearfix"></div>
						</div>

						<div class="postinfobot">
							<div class="posted pull-left"><i class="fa fa-clock-o"></i>  <span th:text="${'Posted on : ' + #dates.format(answers.created, 'dd MMM @ hh:mm a') }"></span></div>
							<div class="clearfix"></div>
						</div>
					</div>
				</th:block>

			</div>

		</div>

	</div>

</div>
</body>

</html>