<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:include="layouts/admin :: page">

<body>
<div th:fragment="content">

    <div class="container" style="padding-top: 20px;">

        <div class="row">

            <div class="col-lg-8 col-md-8" id="row">

                <input type="text" class="search" placeholder="Search Topics" />

                    <ul class="list">
                        <th:block th:each="post : ${postList}">
                            <li>
                                <!-- POST -->
                                <div class="post">
                                    <div class="wrap-ut pull-left">
                                        <div class="userinfo pull-left">
                                            <div class="avatar"> </div>
                                            <div class="icons">

                                            </div>
                                        </div>
                                        <div class="posttext pull-left">
                                            <h2><a th:href="@{/post/show/{type}(type=${post.id})}" th:text="${post.title}"></a></h2>
                                            <p class="name" th:text="${post.post}"></p>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="postinfo pull-left">
                                        <div class="comments">
                                            <div class="commentbg" th:text="${post.answer}"> <div class="mark"></div> </div>
                                        </div>
                                        <div class="views"><i class="fa fa-eye"></i> <span th:text="${post.view}"></span></div>
                                        <div class="time"><i class="fa fa-clock-o"></i> 24 min</div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <!-- POST -->
                            </li>
                        </th:block>
                    </ul>
                <ul class="pagination"></ul>

            </div>

            <div class="col-lg-4 col-md-4">
                <!-- -->
                <div class="sidebarblock">
                    <h3>Categories</h3>
                    <div class="divline"></div>
                    <div class="blocktxt">
                        <ul class="cats">
                            <li><a href="#">Trading for Money <span class="badge pull-right">20</span></a></li>
                            <li><a href="#">Vault Keys Giveway <span class="badge pull-right">10</span></a></li>
                            <li><a href="#">Misc Guns Locations <span class="badge pull-right">50</span></a></li>
                            <li><a href="#">Looking for Players <span class="badge pull-right">36</span></a></li>
                            <li><a href="#">Stupid Bugs &amp; Solves <span class="badge pull-right">41</span></a></li>
                            <li><a href="#">Video &amp; Audio Drivers <span class="badge pull-right">11</span></a></li>
                            <li><a href="#">2K Official Forums <span class="badge pull-right">5</span></a></li>
                        </ul>
                    </div>
                </div>

                <div class="sidebarblock">
                    <h3>My Active Threads</h3>
                    <th:block th:each="thread : ${activeThreads}">
                        <div class="divline"></div>
                        <div class="blocktxt">
                            <a th:href="@{/post/show/{type}(type=${thread.id})}" th:text="${thread.title}" title="Visualizar"></a>
                        </div>
                    </th:block>
                </div>

            </div>
        </div>
    </div>

</div>
</body>

</html>